<a href="https://colab.research.google.com/github/loppi-ru/0315/blob/main/%D0%9B_%D0%A0_%D0%91%D0%98%D0%9A_24_%D0%98%D0%922_%D0%90%D1%85%D0%BC%D0%B0%D1%82%D0%BE%D0%B2%D0%B0%D0%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

№ 1

In [1]:
a = 2
b = 2.1
c = "Flsda"
d = True
print(type(a), type(b), type(d))

<class 'int'> <class 'float'> <class 'bool'>

№ 2

In [2]:
Name = "Madina"
Age = "18"
print(Name, Age)

Madina 18

№ 3

In [3]:
a = 342
b = 56.2
c = '43'
sum = float(a) + b + float(c)
print(sum)

441.2

№ 4

In [4]:
a = 3
b = 8
print((a + 4 * b)*(a - 3 * b) + a ** 2)

-726

№ 5

In [6]:
a = int(input("Ширина прямоугольника: "))
b = int(input("Длина прямоугольника: "))
S = a * b
P = (a + b) * 2
print('Площадь = ', S, '\nПериметр = ', P)

Ширина прямоугольника: 5
Длина прямоугольника: 20
Площадь =  100
Периметр =  50

№ 6

In [23]:
print("*   *   *")
print(" * * * * ")
print("  *   *  ")

*   *   *
 * * * *
  *   *

№ 7

In [14]:
a = 2
b = 4
mi = a - b
m = a * b
st = a ** b
d = a / b
dd = a // b
ddd = a % b
rav = a == b
nah = a != b
big = a > b
smol = a < b
da = a >= b
no = a <= b

print(mi, m, st, d, dd, ddd, rav, nah, big, smol, da, no)

-2 8 16 0.5 0 2 False True False True False True

№ 8

In [15]:
name = 'Madina'
age = '18'
pon = f"Меня зовут {name}, мне {age} лет."
print(pon)

Меня зовут Madina, мне 18 лет.

№ 9

In [18]:
a = "Сьешь еще "
b = "Этих мягких "
c = "Французких булок, "
d = "Да выпей "
e = "чаю "
print(a + b + c + d + e)

Сьешь еще Этих мягких Французких булок, Да выпей чаю

№ 10

In [20]:
a = 'Нет! да!'
print(a * 4)

Нет! да!Нет! да!Нет! да!Нет! да!

№ 11

In [21]:
a = (input("Введите 3 числа разделенных запятой: "))
b,c,d = a.split(",")
print("Результат вычисления: ", (int(b)+int(d))/int(c))

Введите 3 числа разделенных запятой: 5,7,9
Результат вычисления:  2.0

№ 12

In [22]:
a = input("Введите слово, содержащее не менее 10 символов: " )
print(a[0:4], a[8:10], a[3:8], a[::-1])

Введите слово, содержащее не менее 10 символов: 1234567899
1234 99 45678 9987654321